<body>
<header>ロゴ

<span><%= link_to "About", about_path, method: :get %>
      
      <%= link_to "商品一覧", items_path, method: :get %>
      <%= link_to "新規登録", new_customer_registration_path, method: :get %>
      <%= link_to "ログイン", customer_session_path, method: :post %>
</span>

</header>

<div>
<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>
</div>


<h2>新着商品</h2>

</body>