　<body>
　<header>
    <% if admin_signed_in? %>
      
      <li>
        <%= button_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
   
    <% end %>
  </header>
  <%= yield %>
</body>

<h2>商品一覧</h2>

